%h1 Stocks index

%p
  = link_to 'Enter new stock', new_stock_path, class: 'btn btn-primary btn-lg'

- unless @stocks.blank?
  %table.table.table-bordered.table-hover#stocks
    %thead
      %tr
        %th Name
        %th Price
        %th Quantity
        %th Percentage
        %th Years
    %tbody
      - @stocks.each do |stock|
        %tr
          %td= link_to stock.stock_name, stock
          %td= sprintf('%.2f', stock.price)
          %td= stock.quantity
          %td= sprintf('%.2f', stock.percentage)
          %td= stock.years
