%h1 Stock page

.row
  .col-sm-3
    %table.table.table-bordered#stock-data
      %tr
        %td
          %strong Stock name
        %td= @stock.stock_name
      %tr
        %td
          %strong Price
        %td= '%.2f' % @stock.price
      %tr
        %td
          %strong Quantity
        %td= @stock.quantity
      %tr
        %td
          %strong Percentage
        %td= '%.2f' % @stock.percentage
      %tr
        %td
          %strong Years
        %td= @stock.years