%p
  = link_to :back, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-chevron-left
    Back
  = link_to @stock, data: {method: :delete, confirm: 'Are you sure?'}, class: 'btn btn-danger' do
    %span.glyphicon.glyphicon-trash
    Delete
%h1= "Stock data for #{@stock.stock_name}"

.row
  .col-sm-3
    %table.table.table-bordered.table-hover#stock-data
      %tr
        %td
          %strong Stock name
        %td= @stock.stock_name
      %tr
        %td
          %strong Price
        %td= '%.2f' % @stock.price
      %tr
        %td
          %strong Quantity
        %td= @stock.quantity
      %tr
        %td
          %strong Percentage
        %td= '%.2f' % @stock.percentage
      %tr
        %td
          %strong Years
        %td= @stock.years

  .col-sm-2
    %table.table.table-bordered.table-hover#stock-values
      - @stock.stock_values.each do |row|
        %tr
          %td= row.first
          %td= row.last

  .col-sm-7
    #stock-graph
      = bar_chart @stock.stock_values, discrete: true, height: '600px', library: {title: 'Stock value growth by years', chartArea: {width: '80%', height: '80%'}}
